<section id="{{ list_id }}">
    <div class="multiple-content">
        {{ table|safe }}
    </div>
</section>


{% include 'multiple/multiple/_style.html' %}

{% block js %}
    <script type="text/javascript">
        $(function () {

            initSortable();

            $('#{{ list_id }}').on('update', function (e, url) {

                var $this = $(this),
                        arguments = '',
                        requestPath = '{{ request.path }}',
                        delimiter = '';

                if (typeof(url) === 'string') {
                    var explodedUrl = url.split('?'),
                            explodedPath = requestPath.split('?');
                    if (explodedUrl.length > 1){
                        arguments  = explodedUrl[explodedUrl.length-1];
                    }
                    if (explodedPath.length > 1){
                        delimiter = '&'
                    }else{
                        delimiter = '?';
                    }
                }

                var url_update = requestPath + delimiter + arguments;



                $.get(url_update, function (data) {
                    var $data = $('<div/>').append(data),
                            newList = $data.find('#{{ list_id }}');
                    if (!newList.length) {
                        newList = $data.find('table.multiple-table');
                        $this.find('table.multiple-table').html(newList.html());
                    } else {
                        $this.html(newList.html());
                    }
                    initSortable();
                });
            });
            $(document).on('click', '#{{ list_id }} .multiple-table th a', function (e) {
                e.preventDefault();
                var $this = $(this);
                $('#{{ list_id }}').trigger('update', $this.attr('href'));
                return false;
            });

            $(document).on('submit', '[data-pseudo-form]', function () {
                var $this = $(this);
                $.ajax({
                    'type': 'POST',
                    'data': $this.find("input[type='checkbox'][name='models[]'], select[name=action]").serialize(),
                    'url': $this.data("action"),
                    'success': function (data) {
                        try {
                            data = $.parseJSON(data);
                        } catch (e) {
                        }

                        if (data.refresh) {
                            location.reload();
                        }

                        if (data.redirect) {
                            location.href = data.redirect;
                        }
                        $('#{{ list_id }}').trigger('update');
                    }
                });
            });
            $(document).off('click', '[data-form-submit]').on('click', '[data-form-submit]', function (e) {
                e.preventDefault();
                var $this = $(this),
                        pseudoForm = $this.closest('[data-pseudo-form]');
                pseudoForm.trigger('submit');
                return false;
            });
            $(document).on('click', '#{{ list_id }} .mmodal-multiple', function (e) {
                e.preventDefault();
                var $this = $(this);
                $this.mmodal({
                    width: $this.data('width'),
                    autoclose: true,
                    onSuccess: function(){
                        $('#{{ list_id }}').trigger('update');
                    }
                });
                return false;
            });


            function initSortable(){
                $("#{{ list_id }} .multiple-table.sortingColumn").find("tbody").sortable({
                    axis: 'y',
                    placeholder: "highlight",
                    helper: function (e, ui) {
                        ui.children().each(function () {
                            var $this = $(this);
                            $this.width($this.width());
                        });
                        return ui;
                    },
                    update: function (event, ui) {
                        var $to = $(ui.item),
                                $prev = $to.prev(),
                                $next = $to.next();

                        var data = $(this).sortable('toArray', {
                            attribute: 'data-pk'
                        });

                        $.ajax({
                            data: {
                                models: data,
                                pk: $to.data('pk'),
                                insertAfter: $prev.data('pk'),
                                insertBefore: $next.data('pk'),
                                action: 'sorting'
                            },
                            type: 'POST',
                            url: '{% url 'admin:list' moduleName admin.classNameShort() %}',
                            success: function (data) {
                                $('#main-form').replaceWith(data);
                            }
                        });
                    }
                }).disableSelection();
            }



        });
    </script>

{% endblock %}